config/kitty/themes/theme.conf
config/lazygit/state.yml
config/gh/hosts.yml
config/gh/hosts.yml.personal
config/gh/hosts.yml.work
**/nvim/plugin/
**/karabiner/automatic_backups/
packer_compiled.lua
**/tmux/plugins
