[user]
name = Guan Ming
email = claude_g@outlook.com

[color]
ui = true

[core]
	excludesfile = /Users/claude/.gitignore_global
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
	light = true
  side-by-side = false
  line-numbers = true
  ; syntax-theme = GitHub
  ; line-numbers-minus-style = green
  ; line-numbers-plus-style  = red
  ; line-numbers-zero-style  = brightwhite
  ; minus-style = black red
  plus-style  = white "#d5f0d5"

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[maintenance]
	repo = /Users/claude/.zplugins/zsh-snap
	repo = /Users/claude/.zplugins/jeffreytse/zsh-vi-mode
	repo = /Users/claude/.zplugins/lukechilds/zsh-nvm
	repo = /Users/claude/.zplugins/romkatv/powerlevel10k
	repo = /Users/claude/.zplugins/zsh-users/zsh-autosuggestions
	repo = /Users/claude/.zplugins/zsh-users/zsh-completions
	repo = /Users/claude/.zplugins/zsh-users/zsh-syntax-highlighting
